<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<variable name="LogDirectory" value="C:\Logs\${processname}" />
	<variable name="ConnectionString" value="Server=127.0.0.1;Database=errors;Uid=root;Pwd=12345;" />
	<variable name="InsertCommand" value="INSERT INTO errors (Message, Date, Exception, Level) VALUES (@message, @time_stamp, @exception, @level)" />
	
  <targets async="true">

	  <!-- Для записи в базу данных MySQL -->
	  <target name="database" xsi:type="Database"
			  connectionString="${var:ConnectionString}"
			  dbProvider="MySql.Data.MySqlClient"
			  commandText="${var:InsertCommand}">
		  <parameter name="@message" layout="${message}" />
		  <parameter name="@time_stamp" layout="${longdate}" />
		  <parameter name="@exception" layout="${exception}" />
		  <parameter name="@level" layout="${level}" />
	  </target>

	  <!-- Для TRACE -->
	  <target name="TRACE" xsi:type="BufferingWrapper" bufferSize="1">
		  <target xsi:type="File"
				  fileName="${LogDirectory}/${shortdate}-TRACE-logfile.txt"
				  createDirs="true"
				  concurrentWrites="true"
				  deleteOldFileOnStartup="false"
				  header="TimeStamp;LogLevel;Ip;Message"
				  layout="${longdate};${level};${message}"
				  archiveAboveSize="5000"
				  maxArchiveFiles="3"
				  archiveFileName="${LogDirectory}/archive/TRACE/${shortdate}-logfile.{#####}.txt"
				  archiveNumbering="Sequence"
				  keepFileOpen="false" />
	  </target>

	  <!-- Для DEBUG -->
	  <target name="DEBUG" xsi:type="BufferingWrapper" bufferSize="1">
		  <target xsi:type="File"
				  fileName="${LogDirectory}/${shortdate}-DEBUG-logfile.txt"
				  createDirs="true"
				  concurrentWrites="true"
				  deleteOldFileOnStartup="false"
				  header="TimeStamp;LogLevel;Ip;Message"
				  layout="${longdate};${level};${message}"
				  archiveAboveSize="5000"
				  maxArchiveFiles="3"
				  archiveFileName="${LogDirectory}/archive/DEBUG/${shortdate}-logfile.{#####}.txt"
				  archiveNumbering="Sequence"
				  keepFileOpen="false" />
	  </target>

	  <!-- Для INFO -->
	  <target name="INFO" xsi:type="BufferingWrapper" bufferSize="1">
		  <target xsi:type="File"
				  fileName="${LogDirectory}/${shortdate}-INFO-logfile.txt"
				  createDirs="true"
				  concurrentWrites="true"
				  deleteOldFileOnStartup="false"
				  header="TimeStamp;LogLevel;Ip;Message"
				  layout="${longdate};${level};${message}"
				  archiveAboveSize="5000"
				  maxArchiveFiles="3"
				  archiveFileName="${LogDirectory}/archive/INFO/${shortdate}-logfile.{#####}.txt"
				  archiveNumbering="Sequence"
				  keepFileOpen="false" />
	  </target>

	  <!-- Для FATAL -->
	  <target name="FATAL" xsi:type="BufferingWrapper" bufferSize="1">
		  <target xsi:type="File"
				  fileName="${LogDirectory}/${shortdate}-FATAL-logfile.txt"
				  createDirs="true"
				  concurrentWrites="true"
				  deleteOldFileOnStartup="false"
				  header="TimeStamp;LogLevel;Ip;Message"
				  layout="${longdate};${level};${message}"
				  archiveAboveSize="5000"
				  maxArchiveFiles="3"
				  archiveFileName="${LogDirectory}/archive/FATAL/${shortdate}-logfile.{#####}.txt"
				  archiveNumbering="Sequence"
				  keepFileOpen="false" />
	  </target>

	  <!-- Для ERROR -->
	  <target name="ERROR" xsi:type="BufferingWrapper" bufferSize="1">
		  <target xsi:type="File"
				  fileName="${LogDirectory}/${shortdate}-ERROR-logfile.txt"
				  createDirs="true"
				  concurrentWrites="true"
				  deleteOldFileOnStartup="false"
				  header="TimeStamp;LogLevel;Ip;Message"
				  layout="${longdate};${level};${message}"
				  archiveAboveSize="5000"
				  maxArchiveFiles="3"
				  archiveFileName="${LogDirectory}/archive/ERROR/${shortdate}-logfile.{#####}.txt"
				  archiveNumbering="Sequence"
				  keepFileOpen="false" />
	  </target>

  </targets>

  <rules>

	  <!--Привила для записи в файл-->
	  <logger name="*" level="Trace" writeTo="TRACE" />
	  <logger name="*" level="Debug" writeTo="DEBUG" />
	  <logger name="*" level="Info" writeTo="INFO" />
	  <logger name="*" level="Fatal" writeTo="FATAL" />
	  <logger name="*" level="Error" writeTo="ERROR" />
	  <!-- Пример правила для записи логов в базу данных -->
	  <logger name="*" level="Error" writeTo="database" />
  
  </rules>
</nlog>
